<!--
<ul class="list-group">
  <li (click)="setCurrentSegment(segment)"
  routerLink = "/cars/segment/{{segment.segmentId}}"
  *ngFor="let segment of segments" [class]="getCurrentSegmentClass(segment)">{{segment.segmentName}}</li>
</ul>
-->
<div class="collapse show" id="brand-collapse">
  <div class="card-header"><label for="colorFilter" class="form-label">Model Ara</label>
    <input
     type="text"
     class="form-control"
     id="brandFilter"
     placeholder="Arama ifadesi giriniz.."
    />
  </div>
<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li *ngFor="let segment of segments"> <a routerLink="/cars/segment/{{segment.segmentId}}" class="link-dark rounded">{{segment.segmentName}}</a></li>
  </ul>
</div>
