<!--
<div class="d-flex justify-content-center">
  <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<table *ngIf="dataLoaded==true" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Description</th>
      <th scope="col">Model Year</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <th scope="row">{{car.carId}}</th>
      <td>{{car.carDescription}}</td>
      <td>{{car.carModelYear}}</td>
      <td>{{car.carStatus}}</td>
    </tr>
  </tbody>

</table>
-->
<!--
<h2 class="text-center">Araba Listesi</h2>
<div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<table *ngIf="dataLoaded==true" class="table table-success table-striped">
    <thead>
        <tr>
            <th>Araba Numarası</th>
            <th>Marka</th>
            <th>Segment</th>
            <th>Renk</th>
            <th>Günlük Fiyat</th>
            <th>Model Yılı</th>

        </tr>
    </thead>
    <tr routerLink="cars/cardetail/{{car.carId}}" *ngFor="let car of cars">

        <td>{{car.carId}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.segmentName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.carModelYear}}</td>
-->
<!--
<div class="row" >
  <div class="col-3" id="anaDiv">
    <div class="p-3 bg-white" style="width: 280px;">
      <a routerLink="/cars" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24">
          <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-5 fw-semibold">Tüm Arabalar</span>
      </a>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#color-collapse" aria-expanded="true">
            Renkler
          </button>
          <app-color></app-color>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#brand-collapse" aria-expanded="true">
            Modeller </button>
          <app-brand></app-brand>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#brand-collapse" aria-expanded="true">
            Segmentler </button>
          <app-segment></app-segment>
        </li>
      </ul>
    </div>
  </div>
  -->
<!--
  <div class="col-9">
    <h4 class="mt-3">ARAÇ LİSTESİ</h4>
    <div class="content">
      <form class="d-flex md-auto">
        <input style="width: 91%;" class="form-control me-2" type="text" placeholder="Arama ifadesi giriniz.."
          aria-label="Organik Arama" />
      </form>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <select class="form-select" aria-placeholder="Marka Seçiniz">
          <option value=0>Marka Seç</option>
          <option></option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-select" aria-label="Default select example">
          <option value=0>Renk Seç</option>
          <option>
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <button style="width: 100%;" type="button" class="btn  btn-outline-dark">
          Filtrele
        </button>
      </div>
    </div>

    <div class="row mt-3" style="margin-left: 1%;">

      <div *ngFor="let car of cars" class="card mt-2 mr-2" style="width: 18rem;margin-right: 10px;">

        <img *ngIf="car.imagePath" src="{{imageUrl}}{{car.imagePath}}" class="card-img-top" style="object-fit: cover;"
          width="100" height="50%" alt="...">
        <img *ngIf="!car.imagePath" [src]="imageUrl+'/DefaultCarImage.png'" class="card-img-top"
          style="object-fit: cover;" width="100" height="50%" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ car.brandName }}</h5>
          <p class="card-text">{{ car.carDescription}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Model Yılı : {{ car.segmentName }}</li>
          <li class="list-group-item">Model Yılı : {{ car.carModelYear }}</li>
          <li class="list-group-item">Rengi : {{ car.colorName }} </li>
          <li class="list-group-item">Günlük Fiyatı : {{ car.dailyPrice | currency: "USD" : true:"1.2-2"}}</li>
        </ul>
        <div class="card-body">
          <div class="row">
            <button type="button" routerLink="/cars/carimagedetail/{{ car.carId }}" class="btn btn-outline-dark">Araba
              Detay</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->






<h4 class="mt-3">ARAÇ LİSTESİ</h4>
<!--
<div class="content">
  <form class="d-flex md-auto">
    <input style="width: 91%;" class="form-control me-2" type="text" [(ngModel)]="filterText" placeholder="Arama ifadesi giriniz.."
      aria-label="Organik Arama"/>
  </form>
</div >
-->
<div class="mb-3" style="width: 91%;">
  <label for="filterText" class="form-label">Araba Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
    placeholder="Arama ifadesi giriniz..">
</div>

<br>

<div *ngIf="filterText" style="width: 91%;" class="alert alert-success">
  {{filterText}} aradınız
</div>

<div class="row">

  <div class="col-md-4">
    <select [(ngModel)]="brandFilter" class="form-select" aria-placeholder="Marka Seçiniz">
      <option value=0>Marka Seç</option>
      <option *ngFor="let brand of brands" [value]="brand.brandId" [selected]="getSelectedBrand(brand.brandId)">
        {{brand.brandName}}</option>
    </select>
  </div>

  <div class="col-md-4">
    <select [(ngModel)]="colorFilter" class="form-select" aria-label="Default select example">
      <option value=0>Renk Seç</option>
      <option *ngFor="let color of colors" [value]="color.colorId" [selected]="getSelectedColor(color.colorId)">
        {{color.colorName}}</option>
    </select>
  </div>

  <div class="col-md-3">
    <button routerLink="/cars/color/{{colorFilter}}/brand/{{brandFilter}}" style="width: 100%;" type="button" class="btn  btn-outline-dark">Filtre</button>
  </div>

</div>

<div class="row mt-4" style="margin-left: 1%;">

  <div *ngFor="let car of cars | filterPipe:filterText" class="card mt-2 mr-2" style="width: 18rem;margin-right: 10px;">
    <img *ngIf="car.imagePath" src="{{imageUrl}}{{car.imagePath}}" class="card-img-top" style="object-fit: cover;"
      width="100" height="50%" alt="...">
    <img *ngIf="!car.imagePath" [src]="imageUrl+'/DefaultCarImage.png'" class="card-img-top" style="object-fit: cover;"
      width="100" height="50%" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ car.brandName }}</h5>
      <p class="card-text">{{ car.carDescription}}</p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Model Yılı : {{ car.segmentName }}</li>
      <li class="list-group-item">Model Yılı : {{ car.carModelYear }}</li>
      <li class="list-group-item">Rengi : {{ car.colorName }} </li>
      <li class="list-group-item">Günlük Fiyatı : {{ car.dailyPrice | currency: "₺" : true:"1.2-2"}}</li>
    </ul>

    <div class="card-body">
      <div class="row">
        <button type="button" routerLink="/cars/getcardetails/{{ car.carId }}" class="btn btn-outline-dark">Araba
          Detay</button>
      </div>

    </div>

  </div>

</div>
